body {
  /*padding: 50px;*/
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ECECEA;
}

a {
  color: #00B7FF;
}

.navbar {
  display: inline-block;
}

.navbar {
  width: 100%;
  background-color: #558C89;
}

.navbar ul {
  list-style-type: none;
  padding:0;
  overflow: hidden;
  margin:0;
  /*border:1px solid black;*/
}

.navbar li {
  /*border:1px solid black;*/
  text-align:center;
  display:inline-block;
  color: white;
  font-size: 1.3em;
  margin:0;
  padding:30px;
  width:44.8%;
}

.navbar li a {
  text-decoration: none;
  color:white;
}

.navbar li:hover {
  background-color:#74AFAD;
}

.left {
  float:left;
}

.right {
  float:right;
}

.hidden {
  display: none;
}

.login-form {
  width:300px;
  border:2px solid #D9853B;
  text-align: center;
  margin:auto;
  margin-top:100px;
  padding: 15px;
}

.login-form #submit {
  border:none;
  background-color: #D9853B;
  color:white;
}

input {
  height:35px;
  width:175px;
  margin: 10px;
}

.login-form input {
  text-align: center;
  font-size: 1.25em;
}

#add {
  background-color: #D9853B;
  color:white;
  border:none;
  font-size:1.2em;
}

.login-header {
  text-align: center;
}

.message {
  text-align:center;
}

.goal {
  width:300px;
  border:2px solid #D9853B;
  float:left;
  margin:20px;
  padding:10px;
}

.goal p{
  text-align: center;
}

#add-form {
  text-align:center;
}

#welcome {
  text-align: center;
}

#container {
  margin:50px;
}

.finished {
  margin:0 auto;
  display:block;
  height:35px;
  width:175px;
  background-color:#D9853B;
  color:white;
  border:none;
  font-size:1.2em;

}