<div class="navbar">
  <ul>
    <li class="logo"><a href="/home">goals</a></li>
    <div class="links">
      <li><a href="/registration">Register</a></li>
    </div>
  </ul>
</div>

<h3 class="login-header">Login</h3>
<p class="message">{{message}}</p>
<div class="login-form">
  <form method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="" value="Login">
  </form>
</div>