<div class="navbar">
  <ul>
    <a href="/home"><li>goals</li></a>
    <a href="/registration"><li>Register</li></a>
  </ul>
</div>

<div class="login-form">
  <h3 class="login-header">Login</h3>
  <p class="message">{{message}}</p>
  <form method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input id="submit" type="submit" name="" value="Login">
  </form>
</div>