<div class="navbar">
  <ul>
    <li class="logo"><a href="/home">goals</a></li>
    <div class="links">
      <li><a href="../">Login</a></li>
    </div>
  </ul>
</div>

<h3 class="login-header">Registration</h3>
{{message}}
<form id="register" class="login-form" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" name="" value="Register">
</form>