<form method="post">
  Title: <input type="text" name="title"> Image: <input type="text" name="image">
  <p><textarea name="body" placeholder="Enter you post here..." rows="20" cols="100"></textarea></p>
  Author: <input type="text" name="author">
  Tags (comma separated list): <input type="text" name="tags">
  <p><input type="submit" name="" value="Add Post"></p>
</form>

