body {
  /*padding: 50px;*/
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  padding:10px;
  margin-right:15px;
  border:none;

}

.container {
  padding:50px;
}

.post {
  border:2px solid black;
  padding: 50px;
}

.post h1 {
  background-color: white;
  color:black;
}

.post-preview {
  font-size: 1em;
  line-height: 1.5em;
  height: 4em;
  overflow: hidden;
}

.post-preview p {
  background-color: white;
  color:black;
}

.post-full {
  font-size: 1em;
  line-height: 1.5em;
}

.tag {
  height:1.5em;
  background-color: gray;
  padding:5px;
  border-radius: 5px;
}

.tags {
  display: inline;
  width:100%;
}

.tags .header {
  line-height: 2.5em;
  /*margin-top: -10px;*/
}

.tags a {
  text-decoration: none;
  color:white;
}
